@model PizzeriaWaluigi.Models.ProductoModel
@{
    var productosDisponibles = ViewBag.productosDisponibles;
}
<head>
    <link href="~/Styles/ListaFuncionarios.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<span class="titulo">
    Productos
</span>

<style>
    .cuadroFuncionario {
        margin-bottom: 10px;
        padding: 1em;
    }

    img {
        border-radius: 0.5em;
        border: 2px solid #133b5c;
        box-shadow: 0px 0px 0px #ccc;
        height: 180px;
        width: 180px;
        object-fit: cover;
    }
</style>

<div class="row d-flex flex-wrap align-items-center">
    @foreach (var producto in ViewBag.productosDisponibles)
    {
        <div class="cuadroFuncionario row d-flex flex-wrap align-items-center col-md-6">
            <div class="imagenFuncionario col-md-4">
                <img src=@Url.Action("ObtenerImagen", "Menu", new { idProducto = producto.Id})>
            </div>
            <div class="textoFuncionario col-md-8">
                <h3>@producto.Nombre</h3>
                <p>@producto.Descripcion</p>
                @Html.ActionLink("Ver más", "verProducto", "Menu", new { idProducto = producto.Id }, null)
                <br />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
