@{
    ViewBag.title = "Información Basica Pizzeria";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Utils/css")
</head>
<body>

    <span class="titulo">
        Promociones
    </span>

    <style>
        .carousel-item {
            height: 40em;
        }
    </style>

    <div class="col-md-12">
        <div id="carruselNoticias" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carruselNoticias" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carruselNoticias" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carruselNoticias" data-bs-slide-to="2"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cdn.papajohns.cr/thumbnails/offers/promo_1627918426_small.png" alt="Asteroide" class="d-block w-100">                    
                </div>
                <div class="carousel-item">
                    <img src="https://papajohns.com.mx/images/uploads/promotions/mexico/WEB_608x420_299-14-12-2020.png" alt="Galaxia" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="https://thepizzacottage.com/wp-content/uploads/2019/11/small-pizza-combo-scaled.png" alt="New York" class="d-block w-100">              
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carruselNoticias" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carruselNoticias" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6">
            <span class="titulo">Combos</span>
            <img src="https://thepizzacottage.com/wp-content/uploads/2019/11/small-pizza-combo-scaled.png" alt="New York" class="d-block w-100">
        </div>
        <div class="col-sm-6 col-md-6">
            <span class="titulo">Productos</span>
            <img src="https://www.chicureohoy.cl/wp-content/uploads/2018/08/pan-de-ajo1.png" alt="New York" class="d-block w-100">
        </div>
    </div>

    <div>

        @if (Request.IsAuthenticated)
        {
            <p>@Context.User.Identity.Name</p>
            <p>@((Context.User.Identity as FormsIdentity).Ticket.UserData)</p>
        }


    </div>

    <div style="margin-top:100px"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>